@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
    font-family: 'Roboto', sans-serif;
}


* {
    margin: 0;
}

body {
    background: #e2e1e0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add_note_button {
    margin-left: 10px;
    border-radius: 10px;
    color: white;
    transition: .2s linear;
    background: #0B63F6;
    padding: 8px;
    font-size:15px;
}

.add_note_button:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px #3C82F8;
}
.add_textfield {

    border:none;
    border: 1px solid gray;
    border-radius:5px;
    padding: 10px;
    font-size:15px;
    color:black;
}

.enter {
    width: 400px;
    margin: 10px 0 20px 0;
    display: flex;
    justify-content: center;
}

.notes {
    width: 450px;
    display: flex;
    flex-direction: column;
}

.note {
    display: flex;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background: #fff;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.note_checkbox {
    margin-left: 10px;
}

.note_text {
   margin: 0 10px 0 10px;
}

.delete_button {
    margin-right: 10px;
    border-radius: 10px;
    color: white;
    transition: .2s linear;
    background: #ee2424;
}

.delete_button:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px #ee2424;
}
